<main class="main-wrapper users">
  <!--<h1>Discover people</h1>-->
  <section class="users--search">

    <input
      id="search-user"
      type="text"
      placeholder="Search for a user"
      aria-label="Search for a user"
      #searchBox
      (input)="searchUser(searchBox.value)">
    <label for="search-user" style="margin-right: 0% !important;"><i class="fas fa-search"></i><span class="hidden">Search for a user</span></label>
  </section>
  <section class="users--display">
    <a *ngFor="let user of usersService.users"
      [routerLink]="'/profile/' + user.id"
      class="users--display--card" >
      <img [src]="user.picture===null ? './assets/anonymousUser.svg' : user.picture "
      alt="Picture of {{user.name}}">
      <!--<div  class="friend-badge">
        <i class="fas fa-user-friends " ></i>
      </div>-->
      <p>{{user.name}}</p>
    </a>

  </section>
</main>
